@charset "utf-8";
body{
		background: rgb(84,166,255);
		background: linear-gradient(90deg, rgba(84,166,255,1) 0%, rgba(0,237,237,1) 66%, rgba(255,166,255,1) 100%);
  }
.footer-bkg
{
	background-image : url(footer-bkg.png);
	background-repeat : no-repeat;
}
.header-bkg
{
	background-image : url(header-bkg.png);
	background-repeat : no-repeat;
}

footer
{
	font-family : ATC Onyx;
	font-size : 9px;
	line-height : 19.37px;
	color : #EDEDED;
	color : rgb(237, 237, 237);
}
.main-text
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.nav-bkg
{
	background : #EF0000;
	background : rgba(239, 0, 0, 1);
}

.home-feature
{
	background-image : url(home-feature.png);
	background-repeat : no-repeat;
}
