@charset "utf-8";
body{
		background: rgb(84,166,255);
		background: linear-gradient(90deg, rgba(84,166,255,1) 0%, rgba(0,237,237,1) 66%, rgba(255,166,255,1) 100%);
  }
.footer-bkg
{
	background-image : url(footer-bkg.png);
	background-repeat : no-repeat;
}
.header-bkg
{
	background-image : url(header-bkg.png);
	background-repeat : no-repeat;
}
h1
{
	font-family : ATC Onyx;
	font-size : 32px;
	line-height : 22.05px;
	color : #D3160C;
	color : rgb(211, 22, 12);
}
p
{
	font-family : ATC Onyx;
	font-size : 12px;
	line-height : 20px;
}
.studio81-logo
{
	background-image : url(studio81-logo.png);
	background-repeat : no-repeat;
}
footer
{
	font-family : ATC Onyx;
	font-size : 9px;
	line-height : 19.37px;
	color : #EDEDED;
	color : rgb(237, 237, 237);
}
.main-text
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.nav-bkg
{
	background : #EF0000;
	background : rgba(239, 0, 0, 1);
}
.nav3
{
	font-family : ATC Onyx;
	font-size : 21px;
	line-height : 34px;
	letter-spacing : 1.05px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-shadow : 0px 2px 1px rgba(0, 0, 0, 0.75);
}
.nav2
{
	font-family : ATC Onyx;
	font-size : 21px;
	line-height : 34px;
	letter-spacing : 1.05px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-shadow : 0px 2px 1px rgba(0, 0, 0, 0.75);
}
.nav1
{
	font-family : ATC Onyx;
	font-size : 21px;
	line-height : 34px;
	letter-spacing : 1.05px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-shadow : 0px 2px 1px rgba(0, 0, 0, 0.75);
}
nav
{
	font-family : ATC Onyx;
	font-size : 21px;
	line-height : 34px;
	letter-spacing : 1.05px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-shadow : 0px 2px 1px rgba(0, 0, 0, 0.75);
}
.home-feature
{
	background-image : url(home-feature.png);
	background-repeat : no-repeat;
}
